/*以下是图片的样式*/
.login_img{
    padding: 0;
    margin: 0;
    border: none;
    outline: none;
    box-sizing: border-box;
    margin: 7% 20%;
    width: 250px;
    height: 140px;
    position: relative;
    perspective: 1000px;
    perspective-origin: center 5%;
}
.login_img::before,.login_img::after{
    box-sizing: border-box;
}
.carousel{
    width: 100%;
    height: 100%;
    position: absolute;
    transform-style: preserve-3d;
    animation: rotation 45s infinite linear;
}
.carousel:hover{
    animation-play-state: paused;
}
.carousel img{
    display: block;
    position: absolute;
    width: 220px;
    height: 120px;
    left: 30px;
    top: 60px;
    background: black;
    overflow: hidden;
    border: solid 1px rgba(255,255,255,.5);
}
img{
    filter: grayscale(0);/*设置图片灰度*/
    cursor: pointer;
    transition: all 0.3s ease 0s;
    width: 100%;
    height: 100%;
}
.carousel img:hover{
    filter: grayscale(0);
    transform: scale(1.2,1.2);
}
.carousel figure:nth-child(1){
    transform: rotateY(0deg) translateZ(288px);
}
.carousel figure:nth-child(2){
    transform: rotateY(60deg) translateZ(288px);
}
.carousel figure:nth-child(3){
    transform: rotateY(120deg) translateZ(288px);
}
.carousel figure:nth-child(4){
    transform: rotateY(180deg) translateZ(288px);
}
.carousel figure:nth-child(5){
    transform: rotateY(240deg) translateZ(288px);
}
.carousel figure:nth-child(6){
    transform: rotateY(300deg) translateZ(288px);
}

@keyframes rotation{
    from{
        transform: rotateY(0deg);
    }
    to{
        transform: rotateY(360deg);
    }
}
.zhuce_biankuang{
    width:330px;
    height:450px;
    padding:13px;
    position:absolute;
    left:50%;
    top:50%;
    margin-left:110px;
    margin-top:-200px;
    background-color: rgba(240,255,255,0.5) ;
    border-radius:20px;
    text-align:center;
    border: 1px solid #3F99F3;
}
.content{
    margin-top: 50px;
    font-family: 一纸情书;
    font-weight: bold;
    color: black;
    font-size:20px;
    letter-spacing: 1px;
    height:30px;
    margin-left: 17px;
    margin-right: 5px;
}
.btsubmit,.jump{/*登录重置两个按钮的设置*/
    border: 1px solid #55A9F4;
    background-color:#55A9F4;
    width: 270px;
    height: 32px;
    color: black;
    border-radius: 4px;
    font-weight: bold;
    font-size: 20px;
    font-family: 一纸情书;
}
.btsubmit:hover ,.jump:hover{
    border: 1px solid #F60;
    background-color: #F60;
    outline: none;
}